.uploadInput {
    visibility: hidden;
    width: 0;
    height: 0;
}

.btn-upload {
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 1px var(--light-shadow-color);
    transition: 0.2s ease;
}

.btn-upload:hover {
    transform: scale(1.05);
}

.mainContent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}

.border-box{
    border: dashed 2px var(--light-shadow-color);
    min-height: 24rem;
}

.imageHolder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.preview-img{
    width: 18rem;
    height: auto;
    margin: 2rem auto;
}

@media only screen and (max-width:800px) {
    .mainContent {
        display: grid;
        grid-template-columns: 100%;
    }
}
