.music-player{
  width: 100%;
  padding: 2rem;
  margin: 1rem auto 1rem auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: dashed 2px var(--light-secondary-color);
}
.selected-img{
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 5px;
  outline: dotted 2px var(--light-secondary-color);
}

.song-player-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.currentsong-title{
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (max-width:800px) {
  .music-player{
    flex-direction: column;
    justify-content: center;
  }
}
